<div class="form-group text-right">
  <div class="col-sm-10">
    {{input
        type="text"
        class="form-control"
        maxlength="2000"
        value=newMessage
        enter="saveMessage"
        placeholder="Mesaj nou"
    }}
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" {{action "saveMessage"}}>Trimite mesaj</button>
  </div>
</div>