<div class="form-group text-right">
  <div class="col-sm-10">
    {{input
        type="text"
        class="form-control"
        maxlength="2000"
        value=newMessage
        enter="saveMessage"
        placeholder="Mesaj nou"
    }}
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" {{action "saveMessage"}} disabled={{disabledNewMessage}}>Trimite mesaj</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Emoticoane</h4>
    <p><a href="http://www.emoji-cheat-sheet.com/">aici e lista</a></p>
    <p>
      <span>
        :smile: -> <span class="_emojione">:smile:</span>
      </span>
      <span>
        :relaxed: -> <span class="_emojione">:relaxed:</span>
      </span>

       <span>
        :kiss: -> <span class="_emojione">:kiss:</span>
      </span>
    </p>
  </div>
</div>